.font-geist {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
}

.color-black{
    color: #1F2937;
}

.color-grey{
    color: #64748B;
}

.bg-white-grey{
    background: #F8FAFC;
}

.bg-white-purple{
    background: #ECE4FF;
}

#stat-filter > input[type="radio"]:hover {
    border-color: #4a00ff;
    color: #4a00ff;
}

#stat-filter > input[type="radio"]:checked {
    background: #4a00ff;
    color: white;
    border: none;
}

.badge-high{
    color: #f05757;
    background: #feecec;
    border: none;
}

.badge-medium{
    color: oklch(82% .189 84.429);
    background: #fff8db;
    border: none;
}

.badge-low{
    color: #a6acb8;
    background: #eeeff2;
    border: none;
}